pandas==0.16.0
click==3.3
Theano==1.0.4
# Lasagne==0.2.dev1
# pip install --upgrade https://github.com/Lasagne/Lasagne/archive/master.zip
scikit_image==0.11.3
numpy==1.13.0
ghalton==0.6
scipy==0.15.1
Pillow==6.1.0
SharedArray==3.2.0
nolearn==0.6.0
skimage==0.0
scikit_learn==0.16.1
PyYAML==5.1.2